@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
body,
input {
  font-family: "Fira Sans", sans-serif;
}
.input[disabled],
.textarea[disabled] {
  color: #555;
}
.hero.is-primary.is-bold {
  background-image: linear-gradient(141deg, #025f63 0, #00c1a0 100%);
}
.hero a {
  text-decoration: underline;
}
.js-month {
  text-transform: uppercase;
}
.js-rate {
  color: #999;
  font-style: italic;
  display: block;
  font-weight: normal;
  font-size: 0.7em;
}

